---
import Header from "../Components/Header.astro";
import Footer from "../Components/Footer.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CU Triathalon Club</title>
  </head>
  <body class="bg-(--light_gray) text-(--black)">
    <Header />
	<body>
		Testing site words
	</body>
    <Footer/>
  </body>
</html>
