---
import Header from "../Components/Header.astro";
import Footer from "../Components/Footer.astro";
import Slideshow from "../Components/Slideshow.astro"
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CU Triathlon Club</title>
  </head>
    <Header />
		<!--- <Slideshow/>-->	
    <Slideshow/>
  </body>
    <Footer/>
  </body>
</html>
